<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

		<!-- Header -->
        {{> header }}

		<!-- Nav -->
        {{> navbar }}

    <section id="banner" class="bg-img" data-bg="banner6.jpg">
        <div class="inner">
            <header>
                <h1>Upsss No te esperabamos por aqui</h1>
            </header>
        </div>
        <a href="/" class="more">Go to home</a>
    </section>

		<!-- Footer -->
        {{> footer}}

</body>
</html>